<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse de Sentiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Analyse de Sentiment à partir d'un fichier CSV</h1>
        <p>Veuillez télécharger un fichier CSV contenant une colonne 'text'.</p>
        
        <div class="file-input">
            <input type="file" id="fileInput" accept=".csv">
            <button onclick="uploadFile()">Envoyer</button>
        </div>

        <div class="result" id="result"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
